<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zp.personal.shopping.mapper.CategoryMapper">
    <select id="getAllCategories" resultType="zp.personal.shopping.bean.Category">
        SELECT * FROM CATEGORIES
    </select>

    <select id="getCategoryById" resultType="zp.personal.shopping.bean.Category">
        SELECT * FROM CATEGORIES WHERE id = #{id}
    </select>

    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CATEGORIES(name) VALUES(#{name})
    </insert>

    <delete id="deleteCategoryById" parameterType="int">
        DELETE FROM CATEGORIES WHERE id = #{id}
    </delete>

    <update id="updateCategory" parameterType="zp.personal.shopping.bean.Category">
      UPDATE CATEGORIES SET name = #{name} WHERE id = #{id}
    </update>
</mapper>
