<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zp.personal.shopping.mapper.ItemMapper">
    <resultMap id="ItemMap" type="zp.personal.shopping.bean.Item">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <association property="category" column="category_id" javaType="zp.personal.shopping.bean.Category" select="getCategoryById"/>
    </resultMap>
    <select id="getAllItems" resultMap="ItemMap">
        SELECT * FROM ITEMS
    </select>

    <select id="getItemById" resultMap="ItemMap">
        SELECT * FROM ITEMS WHERE id = #{id}
    </select>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ITEMS(name, category_id) VALUES(#{name}, #{category.id})
    </insert>

    <delete id="deleteItemById" parameterType="int">
        DELETE FROM ITEMS WHERE id = #{id}
    </delete>

    <update id="updateItem" parameterType="zp.personal.shopping.bean.Item">
        UPDATE ITEMS SET name = #{name}, category_id = #{category.id} WHERE id = #{id}
    </update>

    <select id="getCategoryById" parameterType="int" resultType="zp.personal.shopping.bean.Category">
        SELECT * FROM CATEGORIES WHERE id = #{id}
    </select>
</mapper>
